/* colors
#2c3e50, #18bc9c, #212529. */

body {
	padding:0;
	margin:0;
	width: 100%;
	background-color: #fff;
	height: 800px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
}

.nav {
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #2c3e50;
	height: 108px;
}

.title {
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
    padding-top: 10px;
    font-size: 32px;
    left:9%;
    top:23%;
}

.nav li a:hover {
	color:#18bc9c;
}

.nav li {
	list-style-type: none;
}

.nav li a {
	position: relative;
	text-decoration: none;
	float:right;
	font-size: 17px;
	color: #fff;
	padding:7px;
	right: 9%;
	top:15px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
}

.firstbox {
	height: 780px;
	background-color:#18bc9c;
	width: 100%;
}

div#profile img {
	position: relative;
	display: inline-block;
	left:41%;
	padding-top: 15%;
}

h2 {
	position: relative;
	color: #fff;
	font-size: 75px;
	text-transform: uppercase;
	padding:0;
	margin:0;
	width:100%;
	text-align: center;
	padding-top: 2%

}

.webdev {
	position: relative;
	color: #fff;
	font-size: 28px;
	padding:0;
	margin:0;
	width:100%;
	text-align: center;
	padding-top: 5%;
	font-weight: lighter;
	font-family: 'Lato', sans-serif;
}

.star1 {
  text-align: center;
  width: 252px;
  left: 550px;
  position: absolute;
  color: #fff;
  font-size: 30px;
  padding-top: 15px;
}

.star1 span {
  display: inline-block;
  vertical-align: middle;
}

.outer-line {
  width: 40%;
  border-bottom: 5px solid #fff;
}

.secondbox {
	display: inline-block;
	height: 883px;
	width: 100%;
	background-color: #fff;
	position: absolute;
}

h3 {
	position: relative;
	color:#212529;
	font-size: 45px;
	letter-spacing: 2px;
	text-align: center;
	top:7%;
}

.star2 {
  text-align: center;
  width: 252px;
  left: 550px;
  position: absolute;
  color: #2C3E50;
  font-size: 30px;
  padding-top: 15px;
}

.star2 span {
  display: inline-block;
  vertical-align: middle;
}

.outer-line2 {
  width: 40%;
  border-bottom: 5px solid #2C3E50;
}

.images {
	position: relative;
	width: 1142px;
    height: auto;
    left:117px;
    top:7%;
}


.images img {
    width: 351px;
    height: auto;
    padding:16px;
    cursor: pointer;
}

div.lodge{
position: absolute;
}

div.cake {
	position: absolute;
	left:380px;
	top:1px;
}

div.circus {
	position: absolute;
	left:760px;
	top:1px;
}

div.game{
position: absolute;
top:290px;

}

div.safe {
	position: absolute;
	left:380px;
	top:290px;
}

div.submarine {
	position: absolute;
	left:760px;
	top:290px;
}

.thirdbox {
	height: 578px;
	width: 100%;
	background-color: #18BC9C;
	position: absolute;
	top:1663px;
}

.about h4 {
	z-index: 2;
	font-size: 50px;
	color: #fff;
	text-align: center;
	padding-top:30px;
	display: block;
}

.star3 {
  text-align: center;
  width: 252px;
  left: 550px;
  position: absolute;
  color: #fff;
  font-size: 30px;
  top:154px;
}

.star3 span {
  display: inline-block;
  vertical-align: middle;
}

.outer-line3 {
  width: 40%;
  border-bottom: 5px solid #fff;
}

.aboutext{
    column-count: 2;
    width: 734px;
    height: 175px;
    position: absolute;
    left:305px;
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 28px;
    top: 1880px;
}

.button {
    background-color: #18BC9C;
    border: solid;
    color: white;
    border-width: 2px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.dibutton {
	top:50px;
}

.button:hover{
	background-color:#fff;
	color: #18bc9c;
}

a.button {
	position: relative;
	left:42%;
	top:420px;
	font-family: 'Lato', sans-serif;
	top:1150px;
}

.fourthbox {
	height: 999px;
	width: 100%;
	background-color: #fff;
	position: absolute;
	top:2241px;
}

.star4 {
  text-align: center;
  width: 252px;
  left: 550px;
  position: absolute;
  color: #2C3E50;
  font-size: 30px;
  top:170px;
}

.star4 span {
  display: inline-block;
  vertical-align: middle;
}

.outer-line4 {
  width: 40%;
  border-bottom: 5px solid #2C3E50;

}

div.contact{
	color:#212529;
	font-size: 45px;
	text-align: center;
	display:block;
	padding-top: 111px;
}

input[type=text] {

    width: 640px;
    padding: 12px 20px;
    margin: 8px;
    padding: 35px;
    border: none;
    border-bottom: 1px solid #CCD0D3;
    outline: none;
}

input, select, textarea {
color: #5A5057; /*changes the color from input on text area*/
}

form {
	position: absolute;
	width: 640px;
	left:30%;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	font-weight: lighter;
	top:2480px;
	left: 280px;
	padding-bottom: 150px;
	box-shadow: none;
}

input#form {
	font-family: 'Lato', sans-serif;
	font-size: 23px;
	width: 670px;
}

.textarea {
	position: relative;
	box-shadow: none;
    resize: auto;
    cursor: auto;
    border: 0px;
    border-bottom: 1px solid;
    font-family: monospace;
    border-color: #CCD0D3;
    top:1875px;
    width: 733px;
    height: 200px;
    outline: none; /*removes the border that appears when
    clicking textarea*/
}

textarea#message.textarea{
	left: 300px;
	font-size: 23px;
	font-family: 'Lato', sans-serif;
}

a.sendbutton {
	position: absolute;
	left:23%;
	top:3100px;
	background-color: #18bc9c;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

a.sendbutton:hover {
	background-color: #128F76;
}

.fifthbox {
	height: 341px;
	width: 100%;
	background-color: #2C3E50;
	position: absolute;
	top:3240px;
}

.location {
	height: 177px;
	width: 298px;
	position: absolute;
	left: 150px;
	top: 40px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 7px;
	font-weight: lighter;
}

.location h6 {
	font-size: 27px;
	padding:30px;
	margin:0;
	font-weight: bold;
	font-family: Montserrat, sans-serif;
}

.around {
	height: 177px;
	width: 298px;
	position: absolute;
	left: 520px;
	top: 40px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 7px;
	font-weight: lighter;
}

.around h6 {
	font-size: 27px;
	padding-top:30px;
	margin:0;
	font-weight: bold;
	font-family: Montserrat, sans-serif;
}

.aboutfree {
	height: 177px;
	width: 330px;
	position: absolute;
	left: 890px;
	top: 40px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 27px;
	font-weight: lighter;
}

.aboutfree h6 {
	font-size: 27px;
	margin:0;
	font-weight: bold;
	font-family: Montserrat, sans-serif;
	padding-top:24px;
	padding-bottom: 14px;
}

.aboutfree a {
	color:#18bc9c;
	text-decoration: none;
}

.aboutfree a:hover {
	color:#18bc9c;
	text-decoration: underline;
}

.copy {
	color:#fff;
	font-family: 'Lato', sans-serif;
	display: block;
	text-align: center;
	padding-top:300px;
	font-weight: lighter; 
}

.btnout {
	font-size: 20px;
	line-height: 46px;
	display: inline-block;
	width: 46px;
	height: 46px;
	text-align: center;
	border: solid 2px #fff;
	border-radius: 100%;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color:#fff;
}

.btnout:hover {
	background-color: white;
	color:#18bc9c;
}

div.buttonfac {
	position: absolute;
	left: 530px;
	top:128px;
}

div.buttongoo {
	position: absolute;
	left: 588px;
	top:128px;
}


div.buttontwi {
	position: absolute;
	left: 646px;
	top:128px;
}

div.buttonlin {
	position: absolute;
	left: 704px;
	top:128px;
}

div.buttondri {
	position: absolute;
	left: 762px;
	top:128px;
}